.card-container {
    margin-bottom: 20px; /* Espacement vertical */
    padding-left: 10px;  /* Espacement horizontal */
    padding-right: 10px; /* Espacement horizontal */
  }
  .home-container {
    padding: 2rem;
  }
  
  .card {
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body h5 {
    font-weight: bold;
  }
  